li{
  border: 2px black solid;
  list-style: none;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

body{
  display: flex;
  justify-content: center;
}

.active-link{
  background-color: orange;
}

a{
  text-decoration: none;
  color: black
}

li img{
  width: 300px;
}

li:hover{
  transform: translateY(-10px);
  box-shadow: 0 5px 5px grey;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

label{
  display: flex;
  justify-content: flex-end;
}