li{
  border: 2px black solid;
  list-style: none;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body{
  display: flex;
  justify-content: center;
}


